@import '../components/item-card';

.goods {  
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: $clr-base-lt;

  &__header {
    position: relative;
    min-height: 67px;

    &::after {
      position: absolute;
      top: -12px;      
      right: 44px;      

      content: url('/assets/img/car.svg');
    }
  }

  &__title {
    font-size: $fs-3;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.7px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    display: flex;
  }

}