.button { 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;  
  
  line-height: 0;

  border: none;
  border-radius: 20px;
  background-color: transparent;

  outline: none;
  cursor: pointer;

  transition: all 0.2s ease-in;

  &--large {   
    width: 170px;
    min-height: 40px;  
  }

  &--medium {
    width: 130px;
    min-height: 35px;   
  }
  
  &--contained {
    color: $clr-white;
    background-color: $clr-primary;
    
    &:hover,
    &:focus {
      background-color: $clr-primary-dk;      
    }

    &:active {
      color: $clr-base-dk;
      font-weight: 700;     
    }
  }

  &--outlined {
    border: 2px solid $clr-primary;

    &:hover,
    &:focus {
      color: $clr-white;
      background-color: $clr-primary;
    }

    &:active {
      background-color: $clr-primary-dk;
    }
  }
  
  &--outlined-white {
    color: $clr-white;
    border: 2px solid $clr-white;

    &:hover,
    &:focus {
      color: $clr-base-dk;
      background-color: $clr-white;
    }

    &:active {
      color: $clr-base-dk;
      background-color: $clr-primary-lt;
    }
  }   
}
